@import url("https://fonts.googleapis.com/css2?family=Labrada:wght@300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  font-family: "Labrada", serif;
  box-sizing: border-box;
}

body {
  background-color: rgb(161, 100, 223);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100vh;
  text-align: center;
  overflow: hidden;
  margin: 0;
}

.btn {
  background-color: rebeccapurple;
  border-radius: 5px;
  border: none;
  color: #fff;
  padding: 1.5rem 3rem;
  font-size: 1.2rem;
  margin: 8px;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.9;
}

.btn:focus {
  outline: none;
}
